.container {
  max-width: 55%;
  padding: 0 2rem;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  display: flex;
  margin: 10px 0;
}

.icon a {
  margin: 0 50px;
}

.icon a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .container {  
    max-width: 75%;
    padding: 0 2rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  }
}


@media screen and (max-width: 700px) {
  .container {  
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
  }
}

/* @media (max-width : 1200px) and (max-width : 1400px){p {color:#000000;}} */




